/* pc */
@media (min-width: 1024px) {

}

/* tablet & mobile */
@media (max-width: 1023px) {
    #content .place-buy-button {
        padding: 12px 16px;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 14px;
    }

    .contact-form-submit-button {
        padding: 15px 16px;
    }

    #footer .social-media-list {
        font-size: 36px;
    }

    #footer .social-media-list a {
        width: 42px;
        height: 42px;
        margin: 0px 8px;
    }

    #footer .copyright a {
        padding: 12px 0px;
        display: inline-block;
    }

    /* modal */
    .modal .modal-input {
        padding: 14px 8px;
    }
    /* end of modal */
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* mobile */
@media (max-width: 739px) {

    /* common */
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mg-top-8 {
        margin-top: 8px;
    }

    /* header */
    #header {
        overflow: hidden;
    }

    #header .mobile-menu-button {
        display: block;
    }

    #header .search-button {
        display: none;
    }

    /* navigation */
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav li a {
        display: block;
    }

    /* sub navigation */
    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 10px 40px;
    }
    /* end of sub navigation */
    /* end of navigation */
    /* end of header */

    /* content */
    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 24px;
    }
    /* end of content */
}