/*
    1. từ ngoài vào trong
    2. từ trên xuống dưới
    3. tổng quan đến chi tiết
*/

/*
    1. vị trí
    2. kích thước
    3. màu sắc
    4. kiểu dáng
*/

/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    font-size: inherit !important;
}

/* common */
.clear {
    clear: both;
}

.white-text {
    color: #fff !important;
}

.center-text {
    text-align: center !important;
}

.mg-top-bot-8 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.one-col {
    width: 100%;
}

.two-cols {
    width: 50%;
}

.three-cols {
    width: 33.33333%;
}

/* main */
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif; /* chỉnh phông chữ */
}

#main {

}

/* header */
#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* navigation */
#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none; /* bỏ dấu kí hiệu list */
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: inline-block;
}

.subnav > li:hover > a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    display: block;
    min-width: 160px;
    line-height: 22.5px;
    padding: 8px 16px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}
/* end of navigation */

/* search button and mobile menu button */
#header .mobile-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-button,
#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .mobile-menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-button:hover {
    background-color: #ccc;
}

#header .mobile-menu-button:hover i {
    color: #000;
}
/* end of search button and mobile menu button */
/* end of header */

/* slider */
#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background-image: url(../img/slider/chicago.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#slider .text-content {
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 47px;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    text-shadow: 0px 0px 5px #000;
}

#slider .text-description {
    font-size: 15px;
    font-weight: 600;
    margin-top: 25px;
    text-shadow: 0px 0px 5px #000;
}
/* end of slider */

/* content */
#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0;
    line-height: 45px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6; /* làm mờ chữ */
}

/* about */
#content .about-text {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding: 32px 0;
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
    margin-bottom: 16px;
}
/* end of about */

/* tour */
#content .tour-section {
    background-color: #000;
}

/* ticket */
#content .ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

#content .ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
}

#content .ticket-list .sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 3px 8px;
    margin-left: 16px;
}

#content .ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    margin-right: 16px;
}
/* end of ticket */

/* place */
#content .place-list {
    padding: 32px 0;
}

#content .place-item {
    margin-bottom: 16px;
}

#content .place-img {
    width: 100%;
    display: block;
}

#content .place-img:hover {
    opacity: 0.6;
}

#content .place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

#content .place-heading {
    font-size: 15px;
    font-weight: 550;
    margin: 15px 0px;
}

#content .place-time {
    margin: 15px 0px;
    color: #757575;
}

#content .place-desc {
    margin: 15px 0px;
    line-height: 1.4;
}

#content .place-buy-button {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    line-height: 22.5px;
    border: none;
    text-align: center;
}

#content .place-buy-button:hover {
    color: #000;
    background-color: #ccc;
}
/* end of place */
/* end of tour */

/* contact */
.contact-content {
    padding: 32px 0px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a:hover {
    opacity: 0.8;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 16px;
}

.contact-form .form-control {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form-submit-button {
    color: #fff;
    background-color: #000;
    border: none;
    padding: 11px 16px;
    float: right;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.contact-form-submit-button:hover {
    color: #000;
    background-color: #ccc;
}
/* end of contact */

/* map */
.map-section img {
    width: 100%;
    filter: grayscale(50%);
}
/* end of map */
/* end of content */

/* footer */
#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: rgba(241, 241, 241, 0.6);
}

#footer .social-media-list {
    font-size: 24px;
}

#footer .social-media-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
}

#footer .social-media-list i {
    position: absolute;
    top: 3px;
    left: 3px;
}

#footer .social-media-list a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

#footer .copyright {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}
/* end of footer */

/* modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    animation: modal-slide-in ease 0.5s;
    z-index: 2;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 600px;
    max-width: 90%;
    position: relative;
}

.modal .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.modal .modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal .modal-header {
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal .modal-header-icon {
    margin-right: 16px;
}

.modal .modal-body {
    padding: 16px;
}

.modal .modal-label {
    display: block;
    font-size: 15px;
    margin: 15px 0px;
}

.modal .modal-input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 8px;
}

.modal #modal-buy-ticket-button {
    background-color: #009688;
    color: #fff;
    border: none;
    width: 100%;
    padding: 16px;
    margin: 16px 0px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal #modal-buy-ticket-button:hover {
    opacity: 0.85;
}

.modal .modal-footer {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.modal .modal-help {
    text-align: right;
    font-size: 15px;
}

.modal .modal-help a {
    color: #2196F3;
}
/* end of modal */

@keyframes modal-slide-in {
    from {
        opacity: 0;
        transform: translateY(-150px);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}